// Intro
.bg-fixed.bg-center.bg-cover#intro style="background-image: url(#{image_path('intro-bg.jpg')})"
  .container.px-4.py-16.mx-auto.my-0
    h1.m-4.text-5xl.text-center.text-stroke.text-stroke-1.text-stroke-zinc-900.lg:px-16 Firewood and Logging Services
    p.p-4.mx-auto.mt-16.max-w-3xl.text-lg.font-bold.text-center.rounded-lg.text-stroke.text-stroke-05.text-stroke-zinc-900 class="bg-black/50" Serving Rhode Island for over 40 years! We deliver firewood, cut and split or log length. Firewood is obtained from logging wildlife management areas. Contact us!
// Firewood
.container.px-4.py-16.mx-auto#firewood
  h1.mb-4.text-3xl Firewood
  .lg:flex.lg:-mx-4
    .lg:basis-1/2.lg:px-4
      p.my-4 Trees are both fell and picked up by machine. Unlike skidding, this method retains the bark without scarring or skinning. We also sell firewood by tree length in 16 foot sections for those who wish to cut and split it themselves. All firewood sold is hardwood and can be purchased either green or seasoned.
      p.my-4 We sell firewood cut and split to your desired length. Every wood stove or furnace is different. You should measure the inside length and subtract 2 inches. All firewood is delivered with our Freightliner truck that can hold up to 3 cords at a time. The truck is new and reliable. We will deliver to anywhere in Rhode Island.
    .lg:basis-1/2.lg:px-4
      .flex.flex-wrap.-mx-4
        .px-4.py-4 class="basis-1/2 lg:basis-1/4"
          = image_tag "processor-deck.jpg", class: "h-auto w-full rounded-lg"
        .px-4.py-4 class="basis-1/2 lg:basis-1/4"
          = image_tag "processor-saw.jpg", class: "h-auto w-full rounded-lg"
        .px-4.py-4 class="basis-1/2 lg:basis-1/4"
          = image_tag "processor-splitter.jpg", class: "h-auto w-full rounded-lg"
        .px-4.py-4 class="basis-1/2 lg:basis-1/4"
          = image_tag "truck-angle.jpg", class: "h-auto w-full rounded-lg"
// Logging
.bg-zinc-800
  .container.px-4.py-16.mx-auto#logging
    h1.my-4.text-3xl Logging
    .lg:flex.lg:-mx-4
      .lg:basis-1/2.lg:px-4
        p.my-4 We specialize in saw timber, forest thinning, wildlife cuts, and management plans. Wood is removed with care and attention to detail. All jobs are left looking as clean as possible. We even work with the foresters to make sure that attention is made to problematic areas such as high erosion spots. We are fully licensed and insured.
      .lg:basis-1/2.lg:px-4
        .flex.flex-wrap.-mx-4
          .px-4.py-4 class="basis-1/2 lg:basis-1/4"
            = image_tag "forwarder-check.jpg", class: "h-auto w-full rounded-lg"
          .px-4.py-4 class="basis-1/2 lg:basis-1/4"
            = image_tag "forwarder-loading.jpg", class: "h-auto w-full rounded-lg"
          .px-4.py-4 class="basis-1/2 lg:basis-1/4"
            = image_tag "feller-buncher-front.jpg", class: "h-auto w-full rounded-lg"
          .px-4.py-4 class="basis-1/2 lg:basis-1/4"
            = image_tag "feller-buncher-back.jpg", class: "h-auto w-full rounded-lg"
// Environment
.container.px-4.py-16.mx-auto#environment
  h1.my-4.text-3xl Environment
  p.my-4 Logging maintains forest health by increasing regeneration and improving habitat for many species. Removal of dead and diseased trees reduces the intensity of forrest fires. The byproduct of logging is timber, used for paper products, furniture, construction, and heating homes. Harvesting wood provides the lowest environmental cost of any material.
// Wildlife
.bg-zinc-800
  .container.px-4.py-16.mx-auto#wildlife
    h1.my-4.text-3xl Wildlife
    p.my-4 The New Endland Cottontail is an endangered species, native to Rhode Island. Their area of occupancy and population have both decreased excessively. We have built them homes to nest in and escape predators. Their homes are carefully made from tree tops as a base and branches over top.
    p.my-4 Bird sanctuaries have been created in areas where a specific species is in decline. A tree top leaned on top of a tall stump can provide an area for birds to perch.
    p.my-4 Creating trails provides healthy recreation for humans, while ensuring that the area remains a wildlife management area. Retaining these areas are necessary for oxygen production, carbon-dioxide removal, food chain, and raw materials. Every part of a forrest is important.
