doctype html
html.bg-zinc-900
  head
    = display_meta_tags site: "Miller Firewood &amp; Logging", canonical: "https://www.millerfirewood.com/", author: "Keil Miller Jr", index: true, follow: true
    meta name="viewport" content="width=device-width,initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  body.text-zinc-100
    // Navigation
    nav.container.px-4.mx-auto.my-16
      div.lg:flex.lg:justify-between
        ul.text-center.lg:flex.lg:justify-start.items-center
          li.m-4.lg:ml-0
            a href="#intro"
              = image_tag "logo.png", class: "w-32 inline-block"
          li.m-4
            a.hover:text-orange-500 href="#firewood" Firewood
          li.m-4
            a.hover:text-orange-500 href="#logging" Logging
          li.m-4
            a.hover:text-orange-500 href="#environment" Environment
          li.m-4
            a.hover:text-orange-500 href="#wildlife" Wildlife
        ul.text-center.lg:flex.lg:justify-start.items-center
          li.m-4
            a.p-2.bg-zinc-800.hover:bg-orange-500.hover:text-zinc-900.rounded-full href="tel:+14015397707"
              = heroicon "phone-arrow-up-right", class: "w-5 inline-block"
              |  Phone
          li.m-4.lg:mr-0
            a.p-2.bg-zinc-800.hover:bg-orange-500.hover:text-zinc-900.rounded-full href="mailto:millerlogging@yahoo.com"
              = heroicon "envelope", class: "w-5 inline-block"
              |  Email
    // Main Content
    main
      = yield
    // Footer
    footer.container.px-4.mx-auto.mb-16
      .mb-16.h-px.bg-gradient-to-r.via-lime-500.from-slate-900.to-zinc-900
      ul.my-16.text-center
        li.my-1 Miller Firewood &amp; Logging
        li.my-1 Serving customers within the State of Rhode Island
        li.my-1
          a.p-2.hover:text-orange-500 href="tel:+14015397707" Phone: +1 (401) 539-7707
        li.my-1
          = mail_to "millerlogging@yahoo.com", "Email: millerlogging@yahoo.com", encode: "javascript", class: "p-2 hover:text-orange-500"
